body{
	text-align: center;
	background: #000000;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #396;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

#t_clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#t_clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
}

#t_clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

.desc{
	background: #ffffff;
}

.right{
	float: right;
}

.left{
	float: left;
}

ul li{
	color: #00BF96;
	font-size: small;
	font-weight: bold;
	list-style-type: ''
}

.names{
	color: #00BF96;
	font-size: small;
	font-weight: bold;
}

.predad{
	text-align: left;
	width: 50%;
}

.predanuj{
	text-align: right;
	width: 50%;
}
li:first-child{
	font-style: oblique;
	text-decoration: underline;
}
